.container {
    display: grid;
    grid-template-columns: 333px 333px 333px;
    grid-template-rows: 400px 170px 170px 170px 170px;
    gap: 5px;
    color:white;
    text-align:center;
}

.MainHeader {
    /*box1: 열1 ~ 열4까지 차지하도록 설정*/
    grid-column: 1 / 4;
}

.Ex_Ac {
    grid-column: 2 / 4;
    text-align: left;
    padding: 8px;
}

.Project {
    grid-row: 3 / 5;
}

.Career {
    grid-column: 2 / 4;
}

.Education {
   /*box7: 열1 ~ 열4까지 차지하도록 설정*/
    grid-column: 1 / 4;
}

.Contact {
    padding: 8px;
    text-align: left;
}

.table {
	width: 100%;
	border-collapse: collapse;
	border : 0;
}