.ButtonArea {
    display: flex;
    justify-content: space-between;
}

.Button {
    font-size: 0.8rem;
    width: 60px;
    margin: 10px;
}

.Button_Upload {
    font-size: 0.8rem;
    width: 80px;
    margin: 10px;
}

.MainArea {
    padding-left: 5vw;
    padding-top: 1vw;
}

.title {
    font-size: xx-large;
    margin: 20px 0px;
    border-width: 0 0 1px;
    width: 70vw;
}

.description {
    margin-top: 10px;
    width: 60vw;
    height: 20vw;
}

.githubLink {
    width: 56vw;
}

.date {

}

.uploadfiles {
    margin-top: 15px;
}

.ID {
    display: none;
}