.ButtonArea {
    display: flex;
    justify-content: space-between;
}

.Button {
    font-size: 0.8rem;
    width: 60px;
    margin: 10px;
}

.MainArea {
    padding-left: 5vw;
    padding-top: 1vw;
}

.title {
    font-size: xx-large;
    margin: 20px 0px;
    border-width: 0 0 1px;
    width: 70vw;
}

.host {
    width: 56vw;
}

.awarded {
    width: 56vw;
}

.link {
    width: 56vw;
}